# packaging

numpy
pandas
tensorflow-macos; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow; sys_platform == 'darwin' and 'ARM' not in platform_version
tensorflow; sys_platform != 'darwin'


# streamlit
streamlit
Pillow
python-dotenv
openai
